
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/* home-page */

.home{
    width: 100%;
    height: 100%;
    display: flex;
    margin: 16px;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}
.dashboard{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    gap: 16px;
}
.front-text{
    color: #FEFEFE;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.front-text p{
    color:#7c848f;
}
.statistic{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    gap: 16px;
}
.statistic .box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    padding: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid #161F2A 1px;
    border-radius: 3px;
    gap: 4px;
}
.statistic .box h4{
    color: #96A0AF;
    font-size: 1rem;
}
.statistic .box h1{
    color: #FEFEFE;
    font-size: 2rem;
}
.statistic .box p{
    color: #165636;
    font-weight: bold;
    font-size: 1rem;
}
.graph{
    border: solid #161F2A 1px;
    border-radius: 3px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.graph-box{
    height: 50vh;
}
.graph-title{
    font-size: 1.5rem;
    color: #FEFEFE;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.graph .progress-scale{
    display: flex;
    width: fit-content;
    align-items: center;
    background-color: #18212D;
    border-radius: 8px;
    padding: 4px;
}
.graph .progress-scale button{
    border: none;
    padding: 16px;
    color: #6A727E;
    cursor: pointer;
    background-color: #18212D;
    border-radius: 2px;
    font-size: 1rem;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.graph .progress-scale button:hover{
    background-color: #303A4A;
    color: #9EA3AB;

}
.progress-scale button.active{
    background-color: #303A4A;
    color: #AEB2B8;
}
.chatbot{
    width: 36%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: solid #161F2A 1px;
}
.chatbot .chatbot-title{
    border-bottom: solid #161F2A 1px;
    padding: 16px;
    color: #FEFEFE;
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.chatbot .chatbot-title p{
    color: #96A0AF;
}
.chatbot .chatbot-box{

    overflow-y: scroll;
    overflow-x: hidden;
    height: 90%;

    padding: 16px;
}
.chatbot-box::-webkit-scrollbar-track{
    width: 5px;
    height: 5px;
}
.chatbot-box-introduction{
    width: 80%;
    padding: 16px;
    margin: 8px auto;
    border-radius: 16px;
    color: #D8DADF;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #18212C;
}
.chatbot-box-suggestion{
    width: 80%;
    margin: 8px auto;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;
}
.chatbot-box-suggestion p{
    padding: 12px;
    color:#898E93;
    border-radius: 12px;
    border: 2px solid #2D3746;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.user-chat{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 16px 0;
}
.user-chat p{
    padding: 16px;
    width: 80%;
    background-color: #2D3746;
    border-radius: 8px;
    color: #d8d8d8;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.chatbot-chat{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    padding: 16px 8px;
    flex-direction: column;
    background-color: #2D3746;
    border-radius: 8px;
}
.chatbot-chat p{
    padding: 16px;
    width: 80%;
    border-radius: 8px;
    color: #d8d8d8;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.chatbot-chat ul{
    padding: 16px;
    width: 80%;
    background-color: #2D3746;
    border-radius: 8px;
    color: #d8d8d8;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.chatbot-input{
    border-top: 1px solid #161F2A;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chatbot-input form{
    width: 90%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #18212C;
    border: 2px solid #374151;
    border-radius: 16px;
    padding: 4px;
}
.chatbot-input input{
    width: 90%;
    background: none;
    padding: 16px;
    border: none;
    
    color: #fff;
}
.chatbot-input input:focus-visible{
    outline: none;
}
.chatbot-input button{
    background:none;
    color: #fff;
    border: none;
    cursor: pointer;
    
}
.chatbot-input svg{
    width: 20px;
    height: 20px;
}
.chatbot-input img{
    width: 20px;
    height: 20px;
}
/* goals */
.goal{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column ;
    padding: 32px;
    gap: 16px;
}
.goal-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.goal-title{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    font-size: 1.5rem;
}
.goal-title p{
    color:#7c848f;
    font-size: 1rem;
}
.goal-new-button{
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 16px;
    background-color: #137FEC;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    padding: 16px;
}
.goal-category{
    display: flex;
    width: 100%;
    gap: 8px;
}
.goal-category p{
    cursor: pointer;
    border-radius: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#46556d;
    font-size: 1rem;
    padding: 8px 16px;
    transition: .5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.goal-category p:hover{
    color: #125DAA;
    background-color: #11375E;
}
.goal-category p.active{
    color: #125DAA;
    background-color: #11375E;
}
.goal-body{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    gap: 32px;
}
.goal-container{
    width: 60%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y:scroll;
}
.goal-card{
    padding: 32px;
    border-radius: 16px;
    border: solid #161F2A 1px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.goal-card.overdue{
    border: solid #61282E 1px;
}
.goal-card.overdue .goal-card-deadline{
    color: #EF4444;
}
.goal-card.overdue .progress-percent{
    color: #EF4444;
}
.goal-card.overdue span{
    background-color: #EF4444 !important;
}
.goal-card.completed{
    border: solid #22C55E 1px;
}
.goal-card.completed .goal-card-deadline{
    color: #22C55E;
}
.goal-card.completed .progress-percent{
    color: #22C55E;
}
.goal-card.completed span{
    background-color: #22C55E !important;
}
.goal-card-desc{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.goal-card-title{
    display: flex;
    color: #fff;
    gap: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-direction:column;
}
.goal-card-title p{
    color: #46556d;
}
.goal-card-deadline {
    display: flex;
    gap: 8px;
    align-items: center;
    color: #607392;
}

.goal-card-deadline svg{
    width: 1rem;
    height: 1rem;
}
.goal-card-progression{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.progress-bar{
    width: 90%;
    height: 1vh;
    border-radius: 8px;
    position: relative;
    background-color: #374151;
}
.progress-bar span{
    position: absolute;
    width: 75%;
    border-radius: 8px;
    height: 100%;
    background-color: #137FEC;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.progress-percent{
    color: #1e8cfa;
    font-family: monospace;
    font-size: 1rem;
}

.progress-edit{
    border: none;
    border-radius: 8px;
    background-color: #283037;
    color: #fff;
    padding: 4px;
    cursor: pointer;
}
.progress-edit svg{
    width: 1rem;
    height: 1rem;
}
.goal-extra{
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}
.goal-summary{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 32px;
    border: 1px solid #161F2A;
    border-radius: 8px;
}
.goal-summary-title{
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.goal-statistic{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
}
.goal-statistic h3{
    color: #c5c8ce;
}

.goal-notification{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: 32px;
    padding: 32px;
    border: 1px solid #161F2A;
    border-radius: 8px;
}
.goal-warning{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
}
.goal-notification svg{
    width: 20px;
    height: 20px;
    padding: 8px 4px;
    border-radius:16px ;
}
.goal-notification h2{
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.goal-warning svg{
    background-color: #3B381C;
    color: #B8900E;
}
.goal-completed svg{
    background-color: #133B2D;
    color: #1D9F50;
}
.goal-completed{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
}
.noti-desc{
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    gap: 4px;
}
.noti-desc h4{
    color: #607392;
}

.goal-updater{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    visibility: visible;
}
.goal-updater.active{
    visibility: hidden;
    z-index: -99;
}
.updater-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 16px;
    padding: 32px;
    width: 50%;
    background-color: #101922;
    border-radius: 16px;
    border: 1px;
}
.updater-title{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    gap: 8px;
}
.updater-title p{
    color: #303A4A;
}
.updater-input-box{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    
}
.updater-input-box svg{
    color: #303A4A;
    width: 30px;
    height: 30px;
}
.updater-input{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.updater-input h3{
    color: #9BA1A8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.input-box{
    width: 90%;
    padding: 16px;
    background-color: #18212D;
    border-radius: 8px;
    border: 1px solid #212A38;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input-box input{
    width: 90%;
    border: none;
    background: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #838A92;
    font-size: 1.5rem;
}
.input-box input:focus-visible{
    outline: none;
}
.updater-button{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;
}
.updater-button button{
    cursor: pointer;
    padding: 16px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.updater-button #updater-cancel{
    background-color: #283038;
    color: #9BA1A8;
    width: 10%;
}
.updater-button #updater-save{
    background-color: #137FEC;
    color: #fff;
    width: 20%;
}
.updater-button #updater-delete{
    background-color: #ec3413;
    color: #fff;
    width: 15%;
}
#new-goal input{
    width: 100%;
}
#new-goal .updater-input-box{
    flex-direction: column;
}
#new-goal .updater-input{
    width: 100%;
}
/* Study Page */
.study-page{
    display: flex;
    justify-content: space-around;
    padding: 32px;
    gap: 32px;
    width: 100%;
}
.study-box{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 32px;
}
.study-page-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.study-page-title svg{
    width: 10px;
    height: 10px;
}
.study-page-title p{
     padding: 8px;
     border-radius: 8px;
}
.study-page-title p#live{
    color: #D26063;
    background-color: #211623;
}
.study-page-title p#waiting{
    color: #DAB316;
    background-color: #21211D;
}
.camera-box{
    box-shadow: rgba(255, 255,255, 0.16) 0px 1px 4px;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #182235;
    border-radius: 16px;
    gap: 16px;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.camera-box svg.not{
    width: 50px;
    height: 50px;
    background-color: #2D2536;
    color: #EF4444;
    border-radius: 50%;
    padding: 16px;
}
.camera-box p{
    width: 50%;
    color: #364255;
    text-align: center;
}
.camera-box button{
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #4338CA;
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 16px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.camera-box button svg{
    width: 20px;
    height: 20px;
}

.study-time{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #182235;
    border-radius: 8px;
    padding: 32px;
}
.time-box{
    display: flex;
    gap: 8px;
}
.time-card{
    
    display: flex;
    gap: 4px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.time-card h2{
    padding: 1rem;
    border-radius: 8px;
    font-size: 2rem;
    color: #495365;
    background-color: #0B1120;
}
.time-card p{
    color: #364255;
}
.session-option{
    justify-content: flex-end;
    gap: 16px;
    display: flex;
    align-items: center;
}
.session-option svg{
    width: 20px;
    height: 20px;
}
.session-option button{
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 16px;
}
.session-option button#pause{
    color: #fff;
    background-color: #334155;
}
.session-option button#stop{
    color: #E1686A;
    background-color: #2D2536;
}
.session-option button#start{
    color: #fff;
    background-color: #4338CA;
}
.study-analysis{
    box-shadow: rgba(255, 255,255, 0.16) 0px 1px 4px;
    border-radius: 16px;
    width: 25%;
    display: flex;
    flex-direction: column;
    background-color: #182235;
    align-items: center;
    gap: 16px;
    padding: 16px;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.study-analysis h2{
    width: 100%;

}
.focus-score{
    width:100%;
    padding: 32px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 16px;
    color: #495365;
    background-color: #0B1120;
}
.focus-score p{
    font-size: 1rem;
}
.focus-score .score{
    color: #10B981;
}
.focus-score h1{
    font-size: 4rem;
}
.session-insight{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;   
}
.session-insight .insight-card{
    width: 100%;
    padding: 16px;
    background-color: #0B1120;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #495365;
}
.insight-card h3{
    font-size: 1.5rem;
}
.live{
    color: #fff !important;
}


